body {
    text-align: left;
    max-width: 900px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}


img {
    align-self: center;
}

#blog {
    text-indent: 2rem;
}

#logo-top {
    align-self: center;
}

#heading {
    line-height: 0px;
    align-items: left;
    flex-grow: 2;
}

#print-button {
    align-self: center;
}

#subtitle-print-bar {
    display: flex;
    justify-content: space-between;
}

#subtitle {
    
}